{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row">
  <h1>Привет, я автор</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Автор пока плохо понимает что происходит
      </li>
      <li class="list-group-item">
        Возможно тут я размещу информацию о себе используя свои умения верстать
      </li>
      <li class="list-group-item">
        Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Сделаю попозже </p>
  </article>
</div>
{% endblock %} 